$white: #ffffff;
$l_gray: #fafafa;
$gray: #e5e5e5;
$d_gray: #666666;


/*layout*/
body {
    opacity: 0;
    transition: all 300ms;
    min-height: 100vh;
    position: relative;
    padding-bottom: 78px;
    box-sizing: border-box;
    animation:1s linear infinite fadeout 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes fadeout { 
    0% { opacity: 0; } 
    100% { opacity: 1;}
}
@media screen and (max-width: 767px) {
    body {
        padding-bottom: 92px;
    }
}

.main_content {
    margin: 0 auto;
}

/*btn*/
.btn {
    &.btn-component {
        width: auto;
        border-radius: 0;
        background-color: $white;
        color: $d_gray;
        border: 1px solid $d_gray;
        text-decoration: none;
        padding: 10px 4rem;
        margin: 1rem 0 0;
        &:hover, &:focus {
            background-color: $d_gray;
            color: $white;
            border: 1px solid $white;
        }
    }
}
@media screen and (max-width: 767px) {
    .btn {
        &.btn-component {
            width: calc(100% - 30px);
        }
    }
}
/*title*/
.sub_content--title {
    padding: 10px;
    border: 1px solid $gray;    
    margin: 0 0 10px;
    font-weight: bold;
}
@media screen and (max-width: 767px) {
    .sub_content--title {
        margin: 0;
        border-bottom: none;
        background-color: $gray;
        padding: 15px 10px;
    }
}

/*card-extend*/
.c-card-wrap {
    display: flex;
    flex-wrap: wrap;
}
.c-card-extend {
    padding: 0 15px 15px;
    width: calc(99.9% / 3 - 30px);
    &:hover, &:focus {
        figure {
            a, span {
                transform: scale(1.1);
                opacity: .7;
            }
        }
    }
    figure {
        margin-bottom: 15px;
        overflow: hidden;
        border: 1px solid #e5e5e5;
        a, span {
            background-position: center center;
            background-size: cover;
            display: block;
            overflow: hidden;
            padding-top: 70%;
            width: 100%;
            transition: .7s;
        }
    }
    .c-post-content {
        text-align: left;
        > * {
            display: block;
            margin: 0 0 .5rem;
            &:last-child {
                margin: 0;
            }
        }
        .c-post-info-date {
            font-size: 12px;
            text-transform: uppercase;
            color: $white;
            text-align: left;
            background: $d_gray;
            padding: 4px 8px;
            display: inline-block;
        }
    }
}
.card-title {
    margin: 2rem auto;
    text-align: center;
    font-weight: bold;
    span {
        display: inline-block;        
        padding: 10px 15px 10px;
        border-bottom: 1px solid #333333;
    }
}
@media screen and (max-width: 767px) {
    .c-card-extend {
        width: calc(100% / 2 - 10px);
        padding: 0 5px 10px;
    }
    .card-title {
        font-size: 1.2rem;
        .card-subtitle {
            font-size: 0.8rem;
        }
    }
}

/* form */
input[type="text"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
}
textarea {
    width: 100%;
}
button.btn-primary, button.btn-back, a.btn-primary, a.btn-back, input[type="submit"].btn-primary, input[type="submit"].btn-back, span.btn-primary, span.btn-back {
    width: 230px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 1.4rem;
    border-width: 1px;
    cursor: pointer;
}
button.btn-primary, a.btn-primary, input[type="submit"].btn-primary {
    text-decoration: none;
    background-color: $d_gray;
    color: $white;
    -webkit-border-radius: 0;
            border-radius: 0;
    border-color: $d_gray;
    &:hover, &:focus {
        color: $d_gray;
        background-color: $white;
        border-color: $d_gray;
    }
}
.btn-back {
    text-decoration: none;
    background-color: $white;
    color: $d_gray;
    -webkit-border-radius: 0;
            border-radius: 0;
    border-color: $d_gray;
    opacity: .7;
    border: 1px solid $d_gray;
    &:hover, &:focus {
        color: $d_gray;
        opacity: .4;
    }  
}
.form-actions {
    padding: 20px 0;
}
@media screen and (max-width: 767px) {
    button.btn-primary, button.btn-back, a.btn-primary, a.btn-back, input[type="submit"].btn-primary, input[type="submit"].btn-back, span.btn-primary, span.btn-back {
        width: 100%;
    }
    .form-actions {
        padding: 10px 0;
        > * {
        margin: 0 0 1rem;
            &:last-child {
                margin: 0;         
            }
        }
    }
}

/* lead */
.lead {
    margin: 0 0 1rem;
    > * {
        line-height: 1.6;
    }
}

/* error */
[class*=alert]{
    border-radius: 10px;
    margin: 0 0 1rem;
    padding: 1rem;
    border-radius: 0;
}
.alert-warning {
    background-color: $l_gray;
    color: $d_gray;
    border: 1px solid $d_gray;
}
.alert-success {
    background-color: $d_gray;
    color: $l_gray;
    border: 1px solid $l_gray; 
}