$l_gray: #fafafa;
$gray: #e5e5e5;

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 8000;
  width: 100%;
  header {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0; 
    background-color: $l_gray;
    border-bottom: 1px solid $gray;
     > * {
      width: calc( 100% - 30px );
      margin: 0 auto;
      display: table;
      > * {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
      }
      img {
        max-width: 233px;
      }
      .header-right {
        > * {
          display: flex;
          -webkit-justify-content: flex-end;
                  justify-content: flex-end;
        }
      }
    }
    a {
      text-decoration: none;
    }
    h1 {
      margin: 0 auto;
    }
  }
}

#header_icon {
  margin: 0 15px 0 0;
  a {
    height: 50px;
    display: block;
    i {
      font-size: 32px;
      line-height: 50px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    header {
      .header-left {
        width: 40%;
      }
      .header-right {
        width: 100%;
      }
      img {
        max-width: 100px;
      }
    }
  }
  #searchform {
    width: 100%;
  }
  #header_icon {
    display: none;;
  }
}